* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: sans-serif;
  font-weight: bold;
}

header h2:hover {
  /* color: rgb(229, 164, 172); */
  text-shadow: 2px 2px 3px gray;
  color: chocolate;
}

main {
  display: flex;
  justify-content: space-evenly;
}

/* Styling Tic-Tac-Toe Game */
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 75vh;
  border: 3px dashed rgb(44, 197, 44);
  margin: 20px;
}

.container1 h2 {
  cursor: pointer;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container1 h2:hover{
  text-shadow: 1px 1px 2px ;
}

.container1 h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px;
  font-size: large;
  font-style: italic;
}

.container1 button {
  margin: 15px;
  text-decoration: none;
  width: 160px;
  height: 30px;
  /* padding: 8px; */
  background: rgb(rgb(155, 64, 64), rgb(51, 152, 51), rgb(51, 51, 111));
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  font-size: medium;
  border-radius: 5px;
}

.container1 button:hover {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  text-shadow: 2px 2px 5px ;
}

.container1 p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  justify-content: space-evenly;
}

.container1 .result{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.container1 .result h3{
  display: flex;
  margin: 15px;
  color: rgb(228, 93, 8);
}

.container1 .result p{
  margin: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.container1 #card{
  display: flex;
}

.container1 .reset{
  background-color: rgb(97, 229, 31);
  font-family: monospace;
  font-size: larger;
  border-radius: 5px;
}

.container1 .reset:hover{
  border-radius: 10px;
  background-color: rgb(229, 79, 79);
}

.container1 #tutorial {
  width: 100px;
  height: 30px;
  text-decoration: none;
  margin: 15px;
  background-color: bisque;
  margin-left: 50px;
  border-radius: 5px;
}

.container1 #tutorial:hover {
  border-radius: 10px;
  background-color: rgba(63, 156, 214, 0.879);
  color: rgb(246, 246, 250);
}

.container1 footer h3 {
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 15px;
  font-size: large;
  font-style: italic;
}

.container1 .conclusion {
  height: 160px;
  overflow-y: auto;
}

.container1 .conclusion h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Styling Stone-Paper-Scissor Game */

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 45vw;
  height: 75vh;
  border: 3px solid rgb(92, 16, 214);
  margin: 20px;
}

.container2 h2 {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

.container2 h2:hover{
  text-shadow: 1px 1px 2px;
}
    
.container2 p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-size: large; */
}

.container2 #tut2{
  width: 100px;
  height: 30px;
  text-decoration: none;
  margin: 15px;
  background-color: bisque;
  margin-left: 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
  font-size: medium;
}

.container2 #tut2:hover{
  box-shadow: 2px 2px 4px rgb(237, 184, 184);
  border-radius: 10px;
  background-color: rgba(63, 156, 214, 0.879);
  color: rgb(246, 246, 250);
}


/*  Aligning of the Playeing area */

.styleBox{
  height: 54vh;
  /* height: 330px; */
  width: 60vh;
  /* width: 330px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid black; */
  /* position:relative */
}

.gameBox{
  height: 300px;
  width: 300px;
  display: flex;
  /* border: 3px solid black; */
  margin-bottom: 3px;
}

.gameBox button{
  height: 90px;
  width: 90px;
  margin: 4px;
  font-size: 30px;
  font-weight: bolder;
  border: none;
  /* background-color: rgb(223, 244, 121); */
  background-color: cadetblue;
}

.gameBox button:hover{
  background: linear-gradient(rgb(126, 223, 230),rgba(255, 255, 255, 0.511) ,rgba(0, 0, 0, 0.541));
  color: black;
  text-shadow: 3px 3px 6px rgba(222, 76, 22, 0.562);
  font-size: 30px;
}

.styleBox h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 2px;
  margin-bottom: 7px;
}

.styleBox h3 button{
  text-decoration: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  background-color:darkmagenta;
  color: white;
}

.styleBox h3 button:hover{
  background-color: aquamarine;
  /* background-color: rgb(114, 151, 231); */

  color: black;
}

.footer .reset2{
  background-color: rgb(97, 229, 31);
  font-family: monospace;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
  width: 90px;
  margin-top: 15px;
}

.footer .reset2:hover{
  border-radius: 10px;
  background-color: rgb(229, 79, 79);
}
